.about-me,
.a-block,
.profile-card-content,
.my-image-profile,
.my-image-profile a,
.profile-info,
.email-contact,
.email-contact a,
.social-networks-content,
.social-networks,
.my-projects-links,
.my-projects-links h3:first-child,
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-background-block {
    position: absolute;
    bottom: 21%;
    z-index: -1;
    background-color: var(--light-gray-transparent);
    height: 53%;
    width: 18%;
    border-radius: 3px;
}
/* about-me grid area */
.about-me {
    padding-top: 20vh;
    width: 20vw;
    height: 100%;
}
/* conteudo de about-me */
.about-me .profile-card-content {
    display: flex;
    width: 100%;
}
/* minha imagemn */
.profile-card-content .my-image-profile a img {
    width: 80%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
/* minhas informações */
.profile-card-content .profile-info {
    margin-top: 1.6vh;
    margin-bottom: 1.6vh;
}
.profile-card-content .profile-info h3 {
    color: var(--font1);
    padding: 2px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.07);
    transition: linear 300ms;
}
.profile-card-content .profile-info h3:hover {
    border-radius: 1px;
    background-color: var(--font1);
    color: var(--background);
}
.profile-card-content .profile-info h6 {
    color: var(--primary-light);
    padding: 2px;
    font-family: Verdana, "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
    transition: linear 300ms;
}
.profile-card-content .profile-info h6:hover {
    border-radius: 1px;
    background-color: var(--primary-light);
    color: var(--background);
}
/* contato de email */
.email-contact,
.social-networks-content {
    padding-top: 0.8vh;
    width: 18vw;
    height: 4.5vh;
    background-color: var(--primary-dark1);
    transition: background-color 200ms;
}
.email-contact:hover,
.social-networks-content:hover {
    background-color: var(--primary-light);
}
.email-contact a {
    flex-direction: row;
    text-decoration: none;
}
.email-contact a h3 {
    color: var(--background);
    margin-left: 1vh;
    font-family: Verdana, "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
}
.email-contact img {
    height: 1.8vw;
}
/* redes sociais */
.social-networks {
    width: 75%;
    justify-content: space-evenly;
    flex-direction: row;
}
.social-networks img {
    height: 1.6vw;
    transition: 200ms;
}
.social-networks img:hover {
    height: 1.8vw;
}
/* project links title*/
.my-projects-links {
    margin-top: 1.6vh;
    width: 16vw;
    align-items: end;
}
.my-projects-links h3:first-child {
    width: 100%;
    padding: 2px 0;
    align-items: end;
    color: var(--font1);
    margin-bottom: 0.8vh;
    transition: linear 400ms;
}
.my-projects-links > h3:hover {
    background-color: var(--font1);
    color: var(--background);
}
/* project links list*/
.my-projects-links ul {
    list-style-type: none;
    display: flex;
    align-items: end;
}
.my-projects-links .links li {
    transition: linear 300ms;
}
.my-projects-links .links li a {
    text-decoration: none;
}
.my-projects-links .links li h3 {
    margin: 0;
    padding: 0;
    color: var(--primary-light);
    transition: linear 300ms;
}
.my-projects-links .links li:hover {
    background-color: var(--primary-light);
}
.my-projects-links .links li h3:hover {
    color: var(--background);
}
