.back-button {
    position: absolute;
    left: 5vw;
    top: 5vh;
}
.back-button button {
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vw;
    height: 2vw;
    border: none;
    background: var(--light-gray);
    cursor: pointer;
    transition: background 0.2s;
}
.back-button button:hover {
    background: var(--font1);
}
.back-button button img {
    height: 3vh;
    width: 3vw;
}
