*{
    --background-first: #323230;
    --background-second:#29292a;
    --black: white;
    --font: white;
}
body .profile-card-content{
    background-image: url(../img/card-image.jpg);

    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: -10rem;
    height: clamp(30vh, 60vh, 70vh);
    width: clamp(30vw, 50vw, 70vw);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
body .profile-card-content .my-image-profile a img{
    position: relative;
    bottom: clamp(7rem, 10rem, 12rem);
    height: clamp(7vw, 12vw, 14vw);
    border-radius: 100%;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
}
body .profile-card-content .profile-info{
    position: relative;
    bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body .profile-card-content .profile-info h4{
    font-size: 2rem;
    color: black;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
body .profile-card-content .profile-info h3{
    font-size: 1.4rem;
    color: black;
    font-family: Verdana, "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
}
body .a-line-before-about{
    position: relative;
    bottom: 6rem;
}
/* quote */
body .about-content{
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 5rem;
    width: clamp(40vw, 50vw, 60vw);
    color:black;
    font-family: Verdana, "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
}
body .about-me{
    display: flex;
    flex-direction: column;
}
body .about-me .intro{
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center
}
body .about-me .nietzsche-quote{
    margin-top: .8rem;
    height: 15vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.06);
    border-radius: 7px;
    font-size: 1.8rem;
    font-weight: 300;
    font-family: Verdana, "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
}
body .about-me .nietzsche-quote:hover{
    background-color: rgb(0, 0, 0, 0.03);
}
body .about-me .nietzsche-quote a{
    font-size: 1.4rem;
}
body .a-line-after-about{
    position: relative;
    bottom: 3rem;
}
body .the-line{
    width: clamp(20vw,30vw, 40vw);
    color: #867575;
}
body .email-contact{
    position: relative;
    bottom: 0rem;
    width: 25vw;
}
body .email-contact a{
    display: flex;
    align-items: center;
    justify-content:center;
    text-decoration: none;
    transition: transform 200ms;
}
body .email-contact h6{
    color:black;
    font-size: 2rem;
    font-weight: 300;
    margin-left: 3rem;
    font-family: Verdana, "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
}
body .email-contact img{
    height: 2vw;
}
body .social-networks-content{
    width: 25vw;
}
body .social-networks{
    position: relative;
    bottom: -3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
body .social-networks img{
    height: 2vw;
    transition: transform 200ms;
}
body .social-networks img:hover{
    height: 3vw;
}