* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --background: #111314;
    --primary-light: rgba(119, 198, 153, 1);
    --primary-dark1: rgba(119, 198, 153, 0.7);
    --primary-dark2: #415848;
    --details: #4D4545;
    --details1: #48cbf5;
    --light-gray: rgba(102, 102, 102, 1);
    --light-gray-transparent: rgba(102, 102, 102, 0.1);
    --dark-gray: #4D4D4D;
    --font1: #A56377;
    --font2: #F14B24;
}
html,
body {
    display: flex;
    width: 99vw;
    height: 100%;
    background-color: var(--background);
    z-index: -2;
}
:root {
    font-size: 62.5%;
    /*100% = a 16px . 62.5% = 10px o tamanho das fonts padrões*/
    /*Necessari colocar em % para o rem -> usarei rem*/
}
/* H1 titulo */
h1 {
    font-size: 1vw;
}
/* H3 font normal */
h3 {
    font-size: 0.9vw;
}
/* H6 detalhe */
h6 {
    font-size: 0.8vw;
}
