.optionsMenu{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    z-index: 1000;

    padding: var(--gap);
    border-radius: var(--border-radius);
    backdrop-filter: saturate(180%) blur(5px);
    background: rgba(var(--background-start-rgb), 0.5);
}
.optionsMenu ul li{
    cursor: pointer;
    font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
    .optionsMenu{
        right: 1rem;
        bottom: 3.3rem;
        padding: .5rem;
    }
    .optionsMenu ul li{
        font-size: 1.2rem;
        line-height: 3.2rem;
    }
}