.header{
    width: 100%;
    height: 8rem;
    position: fixed;
    z-index: 1000;
    
    backdrop-filter: saturate(180%) blur(5px);
    background: rgba(var(--background-start-rgb), 0.5);
}
.grid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: ". logo . . link link .";
}
.content, .navLinks ul{
    display: flex;
    gap: 4rem;
    list-style: none;
}
.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.navLinks{
    grid-area: link;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
/*  */
.navLinks li{
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 500;
}
.navLinks li::before{
    height: 2px;
}
.navLinks li:hover:before{  
    width:100%;
}
.navLinks li:hover a{
    letter-spacing: normal;
    font-weight: 600;
}

