.footer{
    height: 6rem;
}
.grid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: ". . rights social social . .";
}
.content{
    display: flex;
    gap: var(--gap);
    margin: .5rem;
}

.rights{
    grid-area: rights;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.social{
    grid-area: social;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}