html, html::before, html::after,
head, head::before, head::after,
link, link::before, link::after,
body, body::before, body::after {
position:absolute;
display: block;
content: "";
border: 1px solid #fff;
background-color: #fff;
}

/* Hours */

html {
left: 100px;
top: 100px;
width: 100px;
height: 100px;
animation-duration: 43200s;
animation-name: most_significant_hour_top;
animation-iteration-count: infinite;
clip-path: polygon(
0 10px, 10px 0, 110px 0, 120px 10px, /* h */
145px 10px, 155px 0, 255px 0, 265px 10px, /* h */

410px 10px, 420px 0, 520px 0, 530px 10px, /* m */
555px 10px, 565px 0, 665px 0, 675px 10px, /* m */

820px 10px, 830px 0, 930px 0, 940px 10px, /* s */
960px 10px, 970px 0, 1070px 0, 1080px 10px, /* s */

1080px 220px, 1070px 230px, 970px 230px, 960px 220px, /* s */
940px 220px, 930px 230px, 830px 230px, 820px 220px, /* s */

675px 220px, 665px 230px, 565px 230px, 555px 220px, /* m */
530px 220px, 520px 230px, 420px 230px, 410px 220px, /* m */

265px 220px, 255px 230px, 155px 230px, 145px 220px, /* h */
120px 220px, 110px 230px, 10px 230px, 0 220px, /* h */

0 240px, 1080px 240px, 1080px 340px, 0 340px); /* text */
}

html::before {
white-space: pre;
left: -10px;
top: 105px;
width: 100px;
height: 100px;
animation-duration: 43200s;
animation-name: most_significant_hour_bottom;
animation-iteration-count: infinite;
}

html::after {
left: 135px;
top: -10px;
width: 100px;
height: 100px;
animation-duration: 43200s;
animation-name: least_significant_hour_top;
animation-iteration-count: infinite;
}

head {
left: 135px;
top: 105px;
width: 100px;
height: 100px;
animation-duration: 43200s;
animation-name: least_significant_hour_bottom;
animation-iteration-count: infinite;
}

/* Minutes */

head::before {
left: 255px;
top: -120px;
width: 100px;
height: 100px;
animation-duration: 3600s;
animation-name: most_significant_min_sec_top;
animation-iteration-count: infinite;
}

head::after {
left: 255px;
top: -5px;
width: 100px;
height: 100px;
animation-duration: 3600s;
animation-name: most_significant_min_sec_bottom;
animation-iteration-count: infinite;
}

link {
left: 400px;
top: -120px;
width: 100px;
height: 100px;
animation-duration: 600s;
animation-name: least_significant_min_sec_top;
animation-iteration-count: infinite;
}

link::before {
left: -10px;
top: 105px;
width: 100px;
height: 100px;
animation-duration: 600s;
animation-name: least_significant_min_sec_bottom;
animation-iteration-count: infinite;
}

/* Seconds */

link::after {
left: 255px;
top: -10px;
width: 100px;
height: 100px;
animation-duration: 60s;
animation-name: most_significant_min_sec_top;
animation-iteration-count: infinite;
}

body {
left: 802px;
top: 97px;
width: 100px;
height: 100px;
animation-duration: 60s;
animation-name: most_significant_min_sec_bottom;
animation-iteration-count: infinite;
}

body::before {
left: 130px;
top: -120px;
width: 100px;
height: 100px;
animation-duration: 10s;
animation-name: least_significant_min_sec_top;
animation-iteration-count: infinite;
}

body::after {
left: 130px;
top: -5px;
width: 100px;
height: 100px;
animation-duration: 10s;
animation-name: least_significant_min_sec_bottom;
animation-iteration-count: infinite;
}

/* Keyframes */

/* from 12 -> 01 -> 02 -> 03 -> 04 -> 05 -> 06 -> 07 -> 08 -> 09 -> 10 -> 11 -> 12
we derive: 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1 */
@keyframes most_significant_hour_top {
0% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px solid
#fff; }
8.332% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }

8.333% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #000; }
83.332% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #000; }

83.333% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }

100% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }
}

@keyframes most_significant_hour_bottom {
0% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px solid
#fff; }
8.332% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }

8.333% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }
83.332% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

83.333% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }

100% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }
}

/* from 12 -> 01 -> 02 -> 03 -> 04 -> 05 -> 06 -> 07 -> 08 -> 09 -> 10 -> 11 -> 12
we derive: 2, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2 */
@keyframes least_significant_hour_top {
0% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px solid
#fff; }
8.332% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #fff; }

8.333% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }
16.666% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }

16.667% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #fff; }
24.999% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #fff; }

25% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px solid
#fff; }
33.332% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #fff; }

33.333% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #000; }
41.666% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

41.667% { border-top: 10px solid #000; border-right: 10px solid #fff; border-bottom: 5px solid #000; border-left: 10px
solid #000; }
49.999% { border-top: 10px solid #000; border-right: 10px solid #fff; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

50% { border-top: 10px solid #000; border-right: 10px solid #fff; border-bottom: 5px solid #000; border-left: 10px solid
#000; }
58.332% { border-top: 10px solid #000; border-right: 10px solid #fff; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

58.333% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }
66.666% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }

66.667% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #000; }
74.999% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

75% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px solid
#000; }
83.332% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

83.333% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #000; }
91.666% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #000; }

91.667% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }
99.999% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }

100% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #fff; }
}

@keyframes least_significant_hour_bottom {
0% { border-top: 5px solid #000; border-right: 10px solid #fff; border-bottom: 10px solid #000; border-left: 10px solid
#000; }
8.332% { border-top: 5px solid #000; border-right: 10px solid #fff; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

8.333% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }
16.666% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }

16.667% { border-top: 5px solid #000; border-right: 10px solid #fff; border-bottom: 10px solid #000; border-left: 10px
solid #000; }
24.999% { border-top: 5px solid #000; border-right: 10px solid #fff; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

25% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px solid
#fff; }
33.332% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #fff; }

33.333% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }
41.666% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }

41.667% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #fff; }
49.999% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #fff; }

50% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px solid
#000; }
58.332% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

58.333% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }
66.666% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }

66.667% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }
74.999% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

75% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px solid
#fff; }
83.332% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #fff; }

83.333% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }
91.666% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

91.667% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }
99.999% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }

100% { border-top: 5px solid #000; border-right: 10px solid #fff; border-bottom: 10px solid #000; border-left: 10px
solid #000; }
}

/* 0 -> 1 -> 2 -> 3 -> 4 -> 5 -> 0 */
@keyframes most_significant_min_sec_top {
0% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px solid
#000; }
16.666% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #000; }

16.667% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }
33.332% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }

33.333% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #fff; }
49.999% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #fff; }

50% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px solid
#fff; }
66.666% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #fff; }

66.667% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #000; }
83.332% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

83.333% { border-top: 10px solid #000; border-right: 10px solid #fff; border-bottom: 5px solid #000; border-left: 10px
solid #000; }
99.999% { border-top: 10px solid #000; border-right: 10px solid #fff; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

100% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #000; }
}

@keyframes most_significant_min_sec_bottom {
0% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px solid
#000; }
16.666% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

16.667% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }
33.332% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }

33.333% { border-top: 5px solid #000; border-right: 10px solid #fff; border-bottom: 10px solid #000; border-left: 10px
solid #000; }
49.999% { border-top: 5px solid #000; border-right: 10px solid #fff; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

50% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px solid
#fff; }
66.666% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #fff; }

66.667% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }
83.332% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }

83.333% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #fff; }
99.999% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #fff; }

100% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }
}

/* 0 -> 1 -> 2 -> 3 -> 4 -> 5 -> 6 -> 7 -> 8 -> 9 -> 0 */
@keyframes least_significant_min_sec_top {
0% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px solid
#000; }
9.999% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #000; }

10% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px solid
#fff; }
19.999% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }

20% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px solid
#fff; }
29.999% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #fff; }

30% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px solid
#fff; }
39.999% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #fff; }

40% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px solid
#000; }
49.999% { border-top: 10px solid #fff; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

50% { border-top: 10px solid #000; border-right: 10px solid #fff; border-bottom: 5px solid #000; border-left: 10px solid
#000; }
59.999% { border-top: 10px solid #000; border-right: 10px solid #fff; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

60% { border-top: 10px solid #000; border-right: 10px solid #fff; border-bottom: 5px solid #000; border-left: 10px solid
#000; }
69.999% { border-top: 10px solid #000; border-right: 10px solid #fff; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

70% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px solid
#fff; }
79.999% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #fff; }

80% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px solid
#000; }
89.999% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

90% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px solid
#000; }
99.999% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #000; border-left: 10px
solid #000; }

100% { border-top: 10px solid #000; border-right: 10px solid #000; border-bottom: 5px solid #fff; border-left: 10px
solid #000; }
}

@keyframes least_significant_min_sec_bottom {
0% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px solid
#000; }
9.999% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

10% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px solid
#fff; }
19.999% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }

20% { border-top: 5px solid #000; border-right: 10px solid #fff; border-bottom: 10px solid #000; border-left: 10px solid
#000; }
29.999% { border-top: 5px solid #000; border-right: 10px solid #fff; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

30% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px solid
#fff; }
39.999% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #fff; }

40% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px solid
#fff; }
49.999% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }

50% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px solid
#fff; }
59.999% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #fff; }

60% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px solid
#000; }
69.999% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

70% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px solid
#fff; }
79.999% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #fff; border-left: 10px
solid #fff; }

80% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px solid
#000; }
89.999% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }

90% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px solid
#fff; }
99.999% { border-top: 5px solid #000; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #fff; }

100% { border-top: 5px solid #fff; border-right: 10px solid #000; border-bottom: 10px solid #000; border-left: 10px
solid #000; }
}