:root {
  --border-radius: 6px;
  --gap: 1rem;
}
.light-theme {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 245, 245;

  --label-color: #89f5b7;
  --detail-color: #e8e8e8;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #13D6D620 0deg,
    #16F7B840 55deg,
    #21b7ed40 120deg,
    #136ed620 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, .6),
    rgba(255, 255, 255, 0)
  );
}
.dark-theme {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --label-color: #0141ff;
  --detail-color: #171717;


  --primary-glow: radial-gradient(rgba(1, 65, 255, .4), rgba(1, 65, 255, .1));
  --secondary-glow: linear-gradient(
    to bottom right,
    rgba(54, 185, 192, 0.2),
    rgba(1, 18, 255, 0.1),
    rgba(220, 53, 195, 0.5)
  );
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  /* border: 1px dotted rgba(128, 128, 128, 0.1); */
}
html{
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -ms-overflow-style:scrollbar;
  font-size:62.5%;
  -webkit-text-size-adjust:100%;
}
main{
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent,
    rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  font-size: 1.6rem;
  line-height: 1.5;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
/* title font */
h1, h2{
  letter-spacing: -1px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}
/* text font */
p, li{
  line-height: 4rem;
  font-size: 1.8rem;
  filter: opacity(.6);
}
a, p {
  color: inherit;
  text-decoration: none;
}
li{
  font-size: 1.4rem;
}
li:hover{
  filter: opacity(1);
}
/* Animação de links sociais */
li::before{
  content: "";
  position: absolute;
  z-index: -1;
  opacity: 0;
  background: var(--label-color);
}
/* animação de bloco */
li::before{
  width: 0px;
  height: 60%;
  
  top: 6px;
  left: -4px;
}

li:hover:before{
  width: 90%;
  opacity: 1;
}
/* Underline */
li a{
  text-decoration: underline;
  text-decoration-color: rgb(var(--foreground-rgb), .9);
  text-underline-offset: 5px;
}
li:hover a{
  text-decoration: none;
}
/*  */

/* transitions */
li, li::before, a, a::before, li a, li a::before, input, input::before, textarea, textarea::before, button, .form button{
  -webkit-transition: all .5s cubic-bezier(.77,0,.175,1);
  -moz-transition: all .5s cubic-bezier(.77,0,.175,1);
  -o-transition: all .5s cubic-bezier(.77,0,.175,1);
  -ms-transition: all .5s cubic-bezier(.77,0,.175,1);
  transition: all .5s cubic-bezier(.77,0,.175,1);
}
/* form reset */
input, label, select, button, textarea {
  width: 100%;
  position: relative;

  border: none;
  border-radius: 0;
  padding-left: var(--gap);
  border-bottom: 2px solid rgb(var(--foreground-rgb));
  
	line-height: 4rem;
  white-space: pre-wrap;
  color: rgb(var(--foreground-rgb));
  background: transparent;
}
input:focus, textarea:focus, select:focus, button:focus{
  outline: none;
	outline: 0;
}

@media screen and (max-width: 900px) {
 
}