:root {
  --border-radius: 12px;
  --gap: 1rem;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 245, 245;

  --label-color: #89f5b7;
  --detail-color: #e8e8e8;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #13D6D620 0deg,
    #16F7B840 55deg,
    #21b7ed40 120deg,
    #136ed620 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, .6),
    rgba(255, 255, 255, 0)
  );
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --label-color: #0141ff;
    --detail-color: #171717;


    --primary-glow: radial-gradient(rgba(1, 65, 255, .4), rgba(1, 65, 255, .1));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(54, 185, 192, 0.2),
      rgba(1, 18, 255, 0.1),
      rgba(220, 53, 195, 0.5)
    );
  }
} */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px dotted gray; */
}
html{
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -ms-overflow-style:scrollbar;
  font-size:62.5%;
  -webkit-text-size-adjust:100%;
}
body{
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent,
    rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
  font-size: 1.6rem;
  line-height: 1.5;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1, h2{
  letter-spacing: -1px;
}
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}
p{
  line-height: 4rem;
  font-size: 1.8rem;
}
a, p {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
