.title {
  font-size: 3.5rem;
}
.title p, .title input, .title textarea{
  font-size: 1.8rem;
}
.infoDetail{
  font-size: 1.2rem;
  font-weight: 600;
}
.infoDetail span{
  opacity: .8;
  font-weight: normal;
}